<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
index
    <th:block th:if="${session.msg}">
		<p class="fs-4 mt-2 text-center text-success">[[${session.msg}]]</p>
	</th:block>
<form action="/upload" method="post" enctype="multipart/form-data">
	<input type="file" name="Mpimage">
	<button type="submit" class="btn btn-sm btn-primary">upload</button>
	
</form>
<div class="container">
<div class="row">
	<div class="col-md-3" th:each="e:${imglist}">
		<div class="card">
			<div class="card-body">
				<img alt="k" th:src="@{'img/'+${e.name}}" width="100%" height="200px">
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>